@import "tailwindcss";
@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.split {
  display: inline-block; /* required for transform to work */
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

/* Scrollbar */




/* Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ef4444 transparent;
}